.body{
    -fx-background-image: url("/resources/tenis2.jpg");
    -fx-background-repeat: no-repeat;
    -fx-backgroung-position: center;
    -fx-background-size: 100% 100%;
}
.button {
    -fx-background-color: silver;
    -fx-border-color: whitesmoke;
}
.button:hover{
    -fx-background-color: white;
}
