.body{
    -fx-background-image: url("/resources/tenis.jpg");
    -fx-background-repeat: no-repeat;
    -fx-backgroung-position: center;
    -fx-background-size: 100% 100%;
}
.list-view {
    -fx-background-color: transparent;
}
#listaHoras .list-cell{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment:CENTER_RIGHT;
    -fx-font-size: 18px;
}
#listaDispo .list-cell{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}
#botonAtras {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-border-radius: 30;
    -fx-border-insets: -1;
    -fx-border-width: 3 3 3 3;
    -fx-border-color: black;
}
#botonAtras:hover{
    -fx-background-color: silver;
}
#verDispo{
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-border-radius: 30;
    -fx-border-insets: -1;
    -fx-border-width: 3 3 3 3;
    -fx-border-color: black;
}
#verDispo:hover{
    -fx-background-color: silver;
}